<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInsertUser</servlet-name>
        <servlet-class>servlets.ServletInsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddEmployee</servlet-name>
        <servlet-class>servlets.ServletAddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddReferee</servlet-name>
        <servlet-class>servlets.ServletAddReferee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddImplements</servlet-name>
        <servlet-class>servlets.ServletAddImplements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddTournament</servlet-name>
        <servlet-class>servlets.ServletAddTournament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteTournaments</servlet-name>
        <servlet-class>servlets.ServletDeleteTournaments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddTeam</servlet-name>
        <servlet-class>servlets.ServletAddTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteTeam</servlet-name>
        <servlet-class>servlets.ServletDeleteTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAddPlayer</servlet-name>
        <servlet-class>servlets.ServletAddPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletePlayer</servlet-name>
        <servlet-class>servlets.ServletDeletePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteEmployee</servlet-name>
        <servlet-class>servlets.ServletDeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteReferee</servlet-name>
        <servlet-class>servlets.ServletDeleteReferee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateReferee</servlet-name>
        <servlet-class>servlets.ServletUpdateReferee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultPlayer</servlet-name>
        <servlet-class>servlets.ServletConsultPlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteImplements</servlet-name>
        <servlet-class>servlets.ServletDeleteImplements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateImplements</servlet-name>
        <servlet-class>servlets.ServletUpdateImplements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateEmployee</servlet-name>
        <servlet-class>servlets.ServletUpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateTournament</servlet-name>
        <servlet-class>servlets.ServletUpdateTournament</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdatePlayer</servlet-name>
        <servlet-class>servlets.ServletUpdatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateTeam</servlet-name>
        <servlet-class>servlets.ServletUpdateTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInsertUser</servlet-name>
        <url-pattern>/ServletInsertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddEmployee</servlet-name>
        <url-pattern>/ServletAddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddReferee</servlet-name>
        <url-pattern>/ServletAddReferee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddImplements</servlet-name>
        <url-pattern>/ServletAddImplements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddTournament</servlet-name>
        <url-pattern>/ServletAddTournament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteTournaments</servlet-name>
        <url-pattern>/ServletDeleteTournaments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddTeam</servlet-name>
        <url-pattern>/ServletAddTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteTeam</servlet-name>
        <url-pattern>/ServletDeleteTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAddPlayer</servlet-name>
        <url-pattern>/ServletAddPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletePlayer</servlet-name>
        <url-pattern>/ServletDeletePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteEmployee</servlet-name>
        <url-pattern>/ServletDeleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteReferee</servlet-name>
        <url-pattern>/ServletDeleteReferee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateReferee</servlet-name>
        <url-pattern>/ServletUpdateReferee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultPlayer</servlet-name>
        <url-pattern>/ServletConsultPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteImplements</servlet-name>
        <url-pattern>/ServletDeleteImplements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateImplements</servlet-name>
        <url-pattern>/ServletUpdateImplements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateEmployee</servlet-name>
        <url-pattern>/ServletUpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateTournament</servlet-name>
        <url-pattern>/ServletUpdateTournament</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdatePlayer</servlet-name>
        <url-pattern>/ServletUpdatePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateTeam</servlet-name>
        <url-pattern>/ServletUpdateTeam</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
