/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/09/2016, 07:17:07 AM
    Author     : santhyago
*/

@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #ddd;
}

.content {
  padding: 30px;
  font: 300 40px Lato, sans-serif;
  text-align: center;
  color: #999;
  background: #eee;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: #bbb;
  border-radius:30%;
  background: #eee;
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  color: #59d;
  cursor: pointer;
}

.social {
  box-shadow: rgb(100, 210, 100) 1px 1px;
    
   text-shadow: rgb(226, 226, 226) 1px 1px,
    rgb(227, 227, 227) 2px 2px,
    rgb(227, 227, 227) 3px 3px,
    rgb(228, 228, 228) 4px 4px,
    rgb(229, 229, 229) 5px 5px,
    rgb(229, 229, 229) 6px 6px,
    rgb(230, 230, 230) 7px 7px,
    rgb(230, 230, 230) 8px 8px,
    rgb(231, 231, 231) 9px 9px,
    rgb(232, 232, 232) 10px 10px,
    rgb(232, 232, 232) 11px 11px,
    rgb(233, 233, 233) 12px 12px,
    rgb(233, 233, 233) 13px 13px,
    rgb(234, 234, 234) 14px 14px,
    rgb(235, 235, 235) 15px 15px,
    rgb(235, 235, 235) 16px 16px,
    rgb(236, 236, 236) 17px 17px,
    rgb(236, 236, 236) 18px 18px,
    rgb(237, 237, 237) 19px 19px,
    rgb(238, 238, 238) 20px 20px;
}
#divLogin{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 40%;
    height: auto;
  
}
#divImagenLogin{
margin-top: 20px;
margin-left: 115px;
}

body{
    background-color: #e8f5e9;
}


#divRegistro{
 position: absolute;
    top: 10%;
    left: 25%;
    width: 40%;
    height: auto;
    
}


#tableposicion{
  width:100%;
  margin:0 auto;
  color:black;
  text-align:center;
}

